header {
  width: 100%;
  padding-top: 16px;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;

  li {
    margin-left: 24px;
  }

  @include responsive() {
    display: none;
  }
}

.nav-link {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
  color: $gray-3;
  transition: .7s ease;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: -40px;
    width: 2px;
    height: 0;
    background: linear-gradient(359.94deg, #E11C21 0.06%, rgba(225, 28, 33, 0) 101.91%);
    transition: .7s ease;
  }

  &:hover {
    color: $white;

    &::after {
        height: 40px;
      }
  }
}

.nav-social {
  display: flex;
  svg {
    cursor: pointer;
    margin-left: 16px;
    width: 24px;

    path, circle {
      transition: .7s ease;
    }

    &:hover {
      path, circle {
        fill: $red-light;
        transform: translate3d(0, -3px, 0);
      }
    }
  }

  @include responsive() {
    display: none;
  }
}

.bx {
  display: none;

  @include responsive() {
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 8px;
    display: block;
  }
}

.logo {
  max-width: 88px;
  padding: 2px 0;
}
